.gradient
{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(41,97,108,0) 66%);
}

h1
{
    font-size: 60px;
    color: white;
    padding: 30px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px black;
}

.bold{
    font-weight: bold;
}

h2{
    margin-top: 30px;
}

.kep_ala{
    text-align: center;
    width: 10px;
    font-weight: bold;
    color: #444;
    margin-top: 12px;
}

.jobboszlop{
    background-color: #333;
    color: white;
}

.keretes{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 6px solid white;
}
/* 
.m2m{

} */

.bord{
    border: 2px dotted black;
    padding: 10px;
}